In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
df=pd.read_csv("/content/datasetExample - datasetExample.csv")
df

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,-1,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,-1,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,-10,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
9,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
10,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

In [ ]:
# To delete a row from Df
#df.drop([11,12,13,14,15],axis=0,inplace=True)

In [ ]:
df

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,-1,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,-1,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,-10,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
9,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
10,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

In [ ]:
df2= df.drop_duplicates()

In [ ]:
df2

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,-1,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,-1,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,-10,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
10,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

In [ ]:
df3=df2.reset_index(drop=True)
# drop=True will not add new index column whereas drop=False will add new index column retaining the old index column

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,-1,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,-1,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,-10,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
9,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

First Method of Removing the Negative Values(Using .loc )

In [ ]:
df3.loc[df3["Rating(1-5)"]<0 ,"Rating(1-5)"]="NAN"

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,-1,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,-10,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
9,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

Second method for Removing the negative values (Using Numpy)

In [ ]:
# Another way of removing negative value
df3["NoOfPax"]=np.where(df3["NoOfPax"]<0,"NAN", df3["NoOfPax"])

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,-99999,25-30
9,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

Third method of removing negative value (Using Masking Function)

In [ ]:
df3["EstimatedSalary"].mask(df3["EstimatedSalary"]<0,"NAN",inplace=True)
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibys,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN,25-30
9,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

In [ ]:
df3["Hotel"]=np.where(df3["Hotel"]=="Ibys","Ibis",df3["Hotel"])

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibis,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN,25-30
9,10,30-35,5,RedFox,non-Veg,-6755,4,87777,30-35

In [ ]:
df3["Bill"].mask(df3["Bill"]<0,"NAN",inplace=True)

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Vegetarian,989,2,45000,35+
5,6,35+,3,Ibis,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Vegetarian,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN,25-30
9,10,30-35,5,RedFox,non-Veg,NAN,4,87777,30-35

In [ ]:
df3["FoodPreference"]=np.where((df3["FoodPreference"]== "Vegetarian") | (df3["FoodPreference"]== "veg") ,"Veg",df3["FoodPreference"])

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,Veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Veg,989,2,45000,35+
5,6,35+,3,Ibis,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Veg,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN,25-30
9,10,30-35,5,RedFox,non-Veg,NAN,4,87777,30-35

In [ ]:
df3["FoodPreference"]=np.where(df3["FoodPreference"]=="non-veg","Non-Veg",df3["FoodPreference"])

In [ ]:
df3

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary,Age_Group.1
0,1,20-25,4,Ibis,Veg,1300,2,40000,20-25
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000,30-35
2,3,25-30,6,RedFox,Veg,1322,2,30000,25-30
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000,20-25
4,5,35+,3,Ibis,Veg,989,2,45000,35+
5,6,35+,3,Ibis,Non-Veg,1909,2,122220,35+
6,7,35+,4,RedFox,Veg,1000,NAN,21122,35+
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673,20-25
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN,25-30
9,10,30-35,5,RedFox,non-Veg,NAN,4,87777,30-35

In [ ]:
df3.drop(['Age_Group.1'],axis=1)

,CustomerID,Age_Group,Rating(1-5),Hotel,FoodPreference,Bill,NoOfPax,EstimatedSalary
0,1,20-25,4,Ibis,Veg,1300,2,40000
1,2,30-35,5,LemonTree,Non-Veg,2000,3,59000
2,3,25-30,6,RedFox,Veg,1322,2,30000
3,4,20-25,NAN,LemonTree,Veg,1234,2,120000
4,5,35+,3,Ibis,Veg,989,2,45000
5,6,35+,3,Ibis,Non-Veg,1909,2,122220
6,7,35+,4,RedFox,Veg,1000,NAN,21122
7,8,20-25,7,LemonTree,Veg,2999,NAN,345673
8,9,25-30,2,Ibis,Non-Veg,3456,3,NAN
9,10,30-35,5,RedFox,non-Veg,NAN,4,87777